<mat-card>
  <form [formGroup]="orderData">
    <app-personal-data formControlName="personalData"></app-personal-data>
    <app-address-data formControlName="addressData"></app-address-data>
    <mat-checkbox formControlName="isShippingAddressBillingAddress" (change)="onCheckboxChange($event)"
      >Billing and shipping address are not the same</mat-checkbox
    >
    <app-address-data
      *ngIf="shouldAddBillingAddress"
      formControlName="billingAddressData"
      [addressType]="billingAddressHeader"
    ></app-address-data>
    <div class="order-btn">
      <button mat-raised-button color="primary" (click)="order()" [disabled]="orderData.invalid">Order</button>
    </div>
  </form>
</mat-card>
